#side{
    height: 100vh;
    background-color:#FBEEC1;
}
#homeload{
    margin-left: 2rem;
    color: black;
}
#container div {
    border: 0.23rem solid black;
    text-align: center;
    text-shadow: 5%;
    width: 3rem;
    height: 2.5rem;
    padding-top: 1.4rem;
   
    font-size: 1.3rem;
}
h3{
    font-size: 1.5rem;
}
h1{
   grid-column: span 4;
   text-align: center;
   font-size: 4rem;
}
#push{
    width: 6rem;
    height: 2rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.5rem;
}
#pop{
    width: 6rem;
    height: 2rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.5rem;
}
#homeload{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
body{
    margin: 0;
    display: grid;
    grid-template-columns: 20% auto;
    background-color: #BC986A;
}
#value{
    width: 6rem;
    height: 2rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.5rem;
    
}
#container {
    padding-top: 2rem;
    grid-column: span 2;
    padding-left: 13rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
    column-gap: 0.2rem;
}
#guide{
    padding-top: 2rem;
    width: 155px;
    height: 48px;
    font-size:1rem;
}